<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        h2 {
            font-family: "Microsoft YaHei";
            font-weight: normal;
            color: #333;
            text-align: center;
            padding-top: 50px;
            line-height: 1.5;
        }
    </style>
</head>
<body>
    <h2>
        404，您访问的页面不存在<br>
        点击返回 <a href="/index">首页</a>
    </h2>
</body>
</html>