<div class="container-fluid">
    <div class="row">
        <!-- 内容 -->
        <h4 class="page-header">文章管理 <i class="crumbs-arrow">></i> 添加文章</h4>
        <div class="alert alert-success" role="alert">添加文章必须要选择所属分类！</div>
        <form class="form-horizontal container-fluid col-md-11" name="myForm">
            <div class="form-group">
                <label class="col-sm-2 control-label">所属分类</label>
                <div class="col-sm-4">
                    <!-- 自定义分类组件 -->
                    <app-classify ng-model="classid" classid="classid" rootclass="0"></app-classify>
                    <!-- 自定义分类组件 END -->
                </div>
            </div>
            <div class="row content-alert" ng-hide="regArticle.regVal == 'pass'">
                <div class="col-sm-10 col-sm-offset-2 alert alert-danger" ng-repeat="item in regArticle.regList | filter : regArticle.regVal">{{ item.tips }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">文章标题</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="regArticle" ng-model="arctitle" placeholder="文章标题" ng-blur="change('regArticle', myForm.regArticle.$error)" required ng-pattern="/^[^'%<>@]+$/">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">文章简介</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="5" ng-model="arcdesc" placeholder="文章描述..."></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">文章内容</label>
                <div class="col-sm-10">
                    <div id="arc_content" style="height: 440px; max-height: 600px;"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">上传图片</label>
                <div class="col-sm-10">
                    <app-upload my-params="picUploadPara" my-resps="picResps" my-def="picDefer" my-imgsize="true"></app-upload>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">上传附件</label>
                <div class="col-sm-10">
                    <app-upload my-params="fileUploadPara" my-resps="fileResps" my-def="fileDefer"></app-upload>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-default" ng-click="addInfo()">添加文章</button>
                </div>
            </div>
        </form>
        <!-- 内容 END -->
    </div>
</div>